<main role="main" class="container">
  <h1 class="mt-5">
    <a id="Taskr__A_Todo_sample_application_on_Rails_0"></a>Taskr - A Todo sample application on Rails
  </h1>
  <img class="img-fluid" src="https://i.imgur.com/N51MOOd.gif"/>
  <p></p>
  <p>This is a sample project.
    <br>
    I figured it would be cool to code a Ruby on Rails sample project employing a few interesting (at least to me) RoR concepts.
    <br>
    The basic idea behind it is to provide a platform that lets multiple users CRUD tasks while keeping everyone’s screen updated.

  </p>
  <p>What’s in this solution:</p>
  <ul>
    <li>AJAX (using Rails’
      <a href="https://guides.rubyonrails.org/working_with_javascript_in_rails.html#remote-elements">remote elements</a>)
    </li>
    <li>WebSocket (using
      <a href="https://github.com/rails/rails/tree/master/actioncable">Action Cable</a> )
    </li>
    <li>API/Model Tests (using
      <a href="https://github.com/rspec/rspec-rails">Rspec</a>)
    </li>
    <li>
      <a href="https://guides.rubyonrails.org/active_record_querying.html#scopes">Scopes</a>
    </li>
    <li>
      <a href="https://guides.rubyonrails.org/active_record_validations.html">Active Record Validations</a>
    </li>
    <li>has_many / belongs_to
      <a href="https://guides.rubyonrails.org/association_basics.html">Active Record Associations</a>
    </li>
    <li>
      <a href="https://guides.rubyonrails.org/active_record_callbacks.html">Active Record Callbacks</a>
    </li>
    <li>Some seed data</li>
    <li>API endpoints to manage tasks (with versioning)</li>
  </ul>
  <p>Extra stuff:</p>
  <ul>
    <li>Notifications using
      <a href="https://notifyjs.jpillora.com/">Notify.js</a> (triggered via WebSocket actions)
    </li>
  </ul>
  <h2>
    <a id="Getting_Started_22"></a>Getting Started
  </h2>
  <ul>
    <li>Clone the project</li>
    <li>bundle install</li>
    <li>rails s</li>
  </ul>
  <h2>
    <a id="Prerequisites_28"></a>Prerequisites
  </h2>
  <ul>
     <li>Ruby 2.5.1</li>
    <li>Rails 5.2.2</li>
  </ul>
  <h2>
    <a id="Built_With_35"></a>Built With
  </h2>
  <ul>
    <li>
      <a href="https://github.com/rails/rails/tree/master/actioncable">Action Cable</a>
    </li>
    <li>
      <a href="https://notifyjs.jpillora.com/">Notify.js</a>
    </li>
    <li>
      <a href="https://github.com/rails/rails">Rails</a>
    </li>
    <li>
      <a href="https://github.com/rspec/rspec-rails">Rspec</a>
    </li>
    <li>
      <a href="https://github.com/rossta/serviceworker-rails">ServiceWorker::Rails</a>
    </li>
  </ul>
  <h2>
    <a id="Author_43"></a>Author
  </h2>
  <ul>
    <li>
      <strong>Charles Washington de Aquino dos Santos</strong> -
      <a href="https://github.com/caws">Caws</a>
    </li>
  </ul>
  <h2>
    <a id="Acknowledgments_47"></a>Acknowledgments
  </h2>
  <ul>
    <li>StackOverflow</li>
    <li>Google (lots of)</li>
  </ul>
</main>